@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.c-projects-hero {
  position: relative;
  height: 50vh;
  overflow-y: hidden;
}

.c-projects-hero .c-section__label {
  color: rgba(255, 255, 255, 0.5);
}

.c-projects-hero-container {
  @include flex-column();
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  color: $white;
  text-align: left;
  padding-top: $spacing-1;
  padding-bottom: $spacing-3;
  z-index: 1;
  gap: $spacing-1;
  height: 100%;

  @include respond(md) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $spacing-4;
    align-items: end;
  }
}

.c-projects-hero__title {
  @include flex-column();
  gap: 0.5rem;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 500;

  @include respond(xs) {
    font-size: 5rem;
    line-height: 5rem;
  }

  @include respond(md) {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.c-projects-hero-details {
  @include flex-column();
  gap: $spacing-1;
}

.c-projects-hero-subtitle {
  font-size: $font-xl;
}

.c-projects-hero-img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 50vh;
  z-index: 0;
}

.c-projects__cards {
  margin-top: $spacing-3;
}
