@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.c-single-page-hero {
  position: relative;
  height: 50vh;
  overflow-y: hidden;
}

.c-single-page-hero-container {
  @include flex-column();
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  color: $white;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 3rem;
  z-index: 1;
  gap: 1rem;
  height: 100%;
}

.c-single-page-hero__title {
  @include flex-column();
  gap: 0.5rem;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 500;

  @include respond(xs) {
    font-size: 5rem;
    line-height: 5rem;
  }

  @include respond(md) {
    font-size: 5rem;
    line-height: 5rem;
    max-width: 75vw;
  }
}

.c-single-page-hero-details {
  @include flex-column();
  gap: 1rem;
}

.c-single-page-hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  .big-subheading {
    font-size: 2rem;
  }

  .small-subheading {
    font-size: 1rem;
  }
}

.c-single-page-hero-img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 50vh;
  z-index: 0;
}

.c-project-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  padding-block: 1.5rem;
  border-top: 1px dashed $gray;
  background-color: $white;

  @include respond(md) {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5rem;
  }
}

.c-project__label {
  margin-top: 0.25rem;
  display: flex;
  font-family: $suisse-intl-mono;
  text-transform: uppercase;
  font-size: 0.75rem;
  gap: 1rem;

  &.c-section__label--alt {
    display: none;
    gap: 0.5rem;

    @include respond(md) {
      display: flex;
    }
  }

  @include respond(md) {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5rem;
  }
}

.c-project__content {
  @include flex-column();
}

.c-project__excerpt {
  margin-bottom: 2rem;
  padding-left: 1.25rem;

  li {
    margin-bottom: 1rem;
  }

  @include respond(md) {
    padding-right: 6rem;
    padding-left: 0;
  }
}

.c-project__tech {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  border-radius: 0.25rem;
  background-color: $light-gray;
  row-gap: 1rem;
  height: 100%;
  padding: 2rem;

  @include respond(md) {
    max-width: 23rem;
    aspect-ratio: 1;
    grid-column: 3 / 4;
  }
}

.c-tech {
  display: flex;
  justify-content: center;
  align-items: center;
}
