@use "./variables" as *;
@use "./mixin" as *;

.c-section {
  @include col-grid();
  padding-top: $spacing-6;
  padding-bottom: $spacing-8;
  align-items: start;
}

.c-section__label {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: $suisse-intl-mono;
  text-transform: uppercase;
  font-size: $font-xs;
  gap: 0.5rem $spacing-1;

  @include respond(md) {
    grid-column: span 2;
  }

  &.c-section__label--alt {
    display: none;

    @include respond(md) {
      display: flex;
    }
  }
}

.c-section__column {
  @include flex-column();
  gap: $spacing-4;

  @include respond(md) {
    grid-column: span 5;
  }
}

.c-page-hero__row {
  @include respond(md) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $spacing-4;
    align-items: end;
  }
}

.c-page-hero__content {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;

  @include respond(md) {
    grid-column: 3 / span 7;
  }
}

.c-section__title {
  font-size: $font-h3;
  line-height: 1;
  font-weight: 700;
}

.c-section-icon-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  align-items: center;
  gap: $spacing-1;
}
