:root {
  --neutral-0: oklch(0% 0 0); /* black */
  --neutral-100: oklch(100% 0.00011 271.152); /* white */
  --neutral-70: oklch(72.838% 0.00008 271.152);
  --neutral-95: oklch(95.824% 0.00426 271.37);
  --neutral-92: oklch(91.592% 0.0043 271.368);
  --accent-60: oklch(67.25% 0.16706 41.474); /* orange */
}

// Font Family
$font-helvetica-now: "Helvetica Now Display", sans-serif;
$suisse-intl-mono: "Suisse Int'l Mono", sans-serif;

// Font Weights
$font-weight-map: (
  hairline: 100,
  thin: 200,
  extra-light: 250,
  regular: 400,
  medium: 500,
  bold: 700,
  extra-bold: 800,
  black: 900,
  extra-black: 950,
);

$black: var(--neutral-0);
$white: var(--neutral-100);
$gray: var(--neutral-70);
$light-gray: var(--neutral-95);
$orange: var(--accent-60);

// Spacing Scale (1rem to 8rem)
$spacing-1: 1rem;
$spacing-2: 2rem;
$spacing-3: 3rem;
$spacing-4: 4rem;
$spacing-5: 5rem;
$spacing-6: 6rem;
$spacing-7: 7rem;
$spacing-8: 8rem;

// Base font sizes (mobile first)
$font-xs: 0.75rem; // 12px
$font-sm: 1rem; // 16px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px

$font-h6: 1.75rem; // 28px
$font-h5: 2rem; // 32px
$font-h4: 2.5rem; // 40px
$font-h3: 3rem; // 48px
$font-h2: 3.75rem; // 60px
$font-h1: 4.5rem; // 72px
