@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.c-acc-stack {
  @include col-grid();
  align-items: start;
  margin-bottom: $spacing-1;
}

.c-acc-stack-container {
  width: 100%;
  border-radius: 0.25rem;
  padding: $spacing-4 $spacing-1;
  background-color: $light-gray;
}

.c-acc-button-stack {
  display: flex;
  gap: $spacing-1;

  @include respond(md) {
    grid-column: span 10;
  }
}

// Auxiliary Stack
.c-auxiliary-container {
  @include col-grid();
}

.c-auxiliary-content {
  @include flex-column();
  gap: $spacing-4;

  @include respond(md) {
    grid-column: span 10;
  }
}

.c-auxiliary-content__title {
  font-size: $font-xl;
  line-height: $spacing-1;
  font-weight: 500;
}

.c-auxiliary-content-stack__item {
  padding: 1.5rem 0;
  border-top: 1px dashed $gray;
  display: grid;
  grid-template-columns: 1.5fr 2fr;

  @include respond(md) {
    grid-template-columns: 1fr 1fr 3fr;
  }
}

.c-auxiliary-content-stack__item-indicator {
  display: none;
  font-family: $suisse-intl-mono;
  text-transform: uppercase;
  font-size: $font-xs;

  @include respond(md) {
    display: block;
  }
}

.c-auxiliary-content-stack__item-tech {
  font-size: $font-sm;
  font-weight: 500;
  text-transform: uppercase;
}
