@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.c-acc-stack {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-end;
  margin-bottom: 1rem;
  gap: 2.5rem;

  @include respond(md) {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5rem;
  }
}

.c-acc-stack-container {
  width: 100%;
  border-radius: 0.25rem;
  padding: 4rem 1rem;
  background-color: $light-gray;
}

.c-acc-button-stack {
  display: flex;
  gap: 1rem;
}

.c-acc-stack__label {
  margin-top: 0.25rem;
  display: flex;
  font-family: $suisse-intl-mono;
  text-transform: uppercase;
  font-size: 0.75rem;
  gap: 1rem;

  &.c-acc-stack__label--alt {
    display: none;
    gap: 0.5rem;

    @include respond(md) {
      display: flex;
    }
  }

  @include respond(md) {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5rem;
  }
}

// Auxiliary Stack
.c-auxiliary-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;

  @include respond(md) {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 4rem;
  }
}

.c-auxiliary__label {
  font-family: $suisse-intl-mono;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.c-auxiliary-content {
  @include flex-column();
  grid-column: span 2;
  gap: 4rem;
}

.c-auxiliary-content__title {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 500;
}

.c-auxiliary-content-stack__item {
  padding: 1.5rem 0;
  border-top: 1px dashed $gray;
  display: grid;
  grid-template-columns: 1.5fr 2fr;

  @include respond(md) {
    grid-template-columns: 1fr 1fr 3fr;
  }
}

.c-auxiliary-content-stack__item-indicator {
  display: none;
  font-family: $suisse-intl-mono;
  text-transform: uppercase;
  font-size: 0.75rem;

  @include respond(md) {
    display: block;
  }
}

.c-auxiliary-content-stack__item-tech {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
