@use "../../styles/variables" as *;

.c-tech-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.25rem;
}

.c-icon__title {
  margin-top: 0.25rem;
  font-family: $suisse-intl-mono;
  text-transform: uppercase;
  font-size: $font-xs;
  text-align: center;
  gap: $spacing-1;
}
